<div class="container">
  <%= render 'devise/shared/error_messages', resource: @book %>
  <div class="row">
    <%= render "shared/user_info" %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td class="table-icon">
              <%= link_to user_path(@user) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: '40x40' %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td><%= @showbook.title %></td>
            <td><%= @showbook.body %></td>
            <% if @user == current_user  %>
              <td><%= link_to "Edit", edit_book_path(@showbook), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@showbook), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "本当に消しますか?"} %></td>
            <% end  %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>